<!DOCTYPE html>
<html lang="en">
<head>
    {{if .ok}}
        <meta http-equiv="refresh" content="1; url=/authorization">
    {{end}}
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="/files/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Registration</h2>
        <form method="post">
            <div>
                <input placeholder="login" type="text" name="login" required="required">
            </div>
            <div>
                <input placeholder="pass" type="password" name="pass" required="required">
            </div>
            <div>
                <input placeholder="age" type="text" name="age" required="required">
            </div>
            <div>
                <input type="submit" value="Send!">
                <button><a href="/authorization">Back</a></button>
            </div>
        </form>
        {{if .ok}}
            <div class="ok">
                {{.ok}}
            </div>
        {{end}} {{if .err}}
            <div class="err">
                {{.err}}
            </div>
        {{end}}
    </div>
</body>
</html>